![image.png]()

# Assignment - Day 1:
1. Create Github Account and Linkedin if you dont have one and follow us

My LinkedIn Profile: https://www.linkedin.com/in/mohammed-ameer-05245a60/

Diazonic Labs Company : https://www.linkedin.com/company/diazonic-labs/

Oyesters Company : https://www.linkedin.com/company/oyesterstrainings/

NOTE : If you dont have Github account, follow this https://www.youtube.com/watch?v=1HIK4eAJ34U&t=1s 

2. Technical Assignment of 5 simple questions is posted as follows. 

3. Write a small post on your LinkedIn of today's class and tag us with 

 #diazoniclabswebinar

 @OyestersTraining

 @Diazonic Labs

Sample Post: https://www.linkedin.com/posts/rohithkalvakota_str-f-workshop-activity-6666963613699465216-1tqj

**Welcome to your Assessment 1! Complete the tasks described below by typing the relevant code in the cells. The output is given for your reference after some of the questions**

# 1. Take a variable named num1 and assign String value '25' value to it and print out the variable and type of variable. Type cast it to Integer datatype and store it back in num1 and then again print the datatype

In [0]:
num1 = "25"
print(num1)
print(type(num1))
num1 = int(num1)
print(num1)
print(type(num1))

25
<class 'str'>
25
<class 'int'>

# 2. Using input function take another variable named num2 and assign value 26.2 to it using input method.  Add num1 and num2 and store it in add and print the statement saying the value of number1 and number2 is 51.2 using format specifier

In [0]:
num2 = float(input())
add = num1 + num2
print("The value of number1 and number2 %s" %(add))

26.2
The value of number1 and number2 51.2

# 3. Write a function named season and accept one parameter named weather.
Weather variable should accept an input.
Using conditional statements write a code to check if the weather is cold, then it should print Winter.
If the weather is sunny, then it should print Summer
Else print wrong input

In [0]:
def season(weather):
  if(weather == "cold"):
    print("Winter")
  elif(weather == "sunny"):
    print("Summer")
  else:
    print("Wrong input!")

season("cold")  

season("sunny")

season("rainy")

Winter
Summer
Wrong input!

# 4. Write the output for the following

list1 = [1,2,3,4]

list2 = list1

list1[1] = 0

list1[3] = 0

print(list2)

In [0]:
[1, 0, 3, 0]

[1, 0, 3, 0]

# 5. Write a code for Countdown timer using loops and time library for 10 seconds

In [3]:
import time;
t = 10
for i in range(t):
  print(str(t - i))
  time.sleep(1)
print("Time up!")

10
9
8
7
6
5
4
3
2
1
Time up!

# ALL THE BEST FOLKS